[data-col="17"] { left:1765px; }
[data-col="16"] { left:1655px; }
[data-col="15"] { left:1545px; }
[data-col="14"] { left:1435px; }
[data-col="13"] { left:1325px; }
[data-col="12"] { left:1215px; }
[data-col="11"] { left:1105px; }
[data-col="10"] { left:995px; }
[data-col="9"] { left:885px; }
[data-col="8"] { left:775px; }
[data-col="7"] { left:665px; }
[data-col="6"] { left:555px; }
[data-col="5"] { left:445px; }
[data-col="4"] { left:335px; }
[data-col="3"] { left:225px; }
[data-col="2"] { left:115px; }
[data-col="1"] { left:5px; }
[data-row="16"] { top:980px; }
[data-row="15"] { top:915px; }
[data-row="14"] { top:850px; }
[data-row="13"] { top:785px; }
[data-row="12"] { top:720px; }
[data-row="11"] { top:655px; }
[data-row="10"] { top:590px; }
[data-row="9"] { top:525px; }
[data-row="8"] { top:460px; }
[data-row="7"] { top:395px; }
[data-row="6"] { top:330px; }
[data-row="5"] { top:265px; }
[data-row="4"] { top:200px; }
[data-row="3"] { top:135px; }
[data-row="2"] { top:70px; }
[data-row="1"] { top:5px; }
[data-sizey="1"] { height:55px; }
[data-sizey="2"] { height:120px; }
[data-sizey="3"] { height:185px; }
[data-sizey="4"] { height:250px; }
[data-sizey="5"] { height:315px; }
[data-sizey="6"] { height:380px; }
[data-sizey="7"] { height:445px; }
[data-sizey="8"] { height:510px; }
[data-sizey="9"] { height:575px; }
[data-sizey="10"] { height:640px; }
[data-sizey="11"] { height:705px; }
[data-sizey="12"] { height:770px; }
[data-sizey="13"] { height:835px; }
[data-sizey="14"] { height:900px; }
[data-sizey="15"] { height:965px; }
[data-sizex="1"] { width:100px; }
[data-sizex="2"] { width:210px; }
[data-sizex="3"] { width:320px; }
[data-sizex="4"] { width:430px; }
[data-sizex="5"] { width:540px; }
[data-sizex="6"] { width:650px; }
[data-sizex="7"] { width:760px; }
[data-sizex="8"] { width:870px; }
[data-sizex="9"] { width:980px; }
[data-sizex="10"] { width:1090px; }
[data-sizex="11"] { width:1200px; }
[data-sizex="12"] { width:1310px; }
[data-sizex="13"] { width:1420px; }
[data-sizex="14"] { width:1530px; }
[data-sizex="15"] { width:1640px; }
[data-sizex="16"] { width:1750px; }
